POSTGRES_USER=algoplatform
POSTGRES_PASSWORD=777buba777
POSTGRES_DB=AlgoPlatform

REDIS_PASSWORD=devpass

RABBITMQ_DEFAULT_USER=algo
RABBITMQ_DEFAULT_PASS=algopass
RABBITMQ_DEFAULT_VHOST=/
RabbitMQ__Host=rabbitmq
RabbitMQ__User=algo
RabbitMQ__Pass=algopass
RabbitMQ__VHost=/
RabbitMQ__Queue=submissions
RabbitMQ__RunQueue=runs
RabbitMQ__CancelQueue=run-cancel
RabbitMQ__ResultQueue=run-results
RabbitMQ__HeartbeatQueue=run-heartbeats
RabbitMQ__CompileQueue=compile
RabbitMQ__CompileResultQueue=compile-results
RabbitMQ__RetryDelaySeconds=5
RabbitMQ__MaxRetries=3

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
AWS_EC2_METADATA_DISABLED=true
S3__Endpoint=http://minio:9000
S3__Bucket=algosim-artifacts
S3__AccessKey=minio
S3__SecretKey=minio123
S3__UsePathStyle=true
S3__UseSignatureVersion4=true

ConnectionStrings__DefaultConnection=Host=postgres;Username=algoplatform;Password=777buba777;Database=AlgoPlatform
Redis__Connection=redis:6379,password=devpass,abortConnect=false

Compiler__ContainerRuntime=runsc
Compiler__TimeoutSeconds=180
Runner__ContainerRuntime=runsc
Runner__TimeoutSeconds=25
Runner__HeartbeatIntervalSeconds=2
